JMETER_VERSION=5.6.3
PROJECT_NAME=
PLAN_FILE=web-standard-template.jmx
RESULT_PREFIX=jmeter
PROTOCOL=
HOST=
PORT=
THREADS=
RAMP_UP=
LOOPS=
THINK_TIME_MS=
HEALTH_PATH=
LOGIN_PATH=
LIST_PATH=
DETAIL_PATH=
EVENT_PATH=
EVENT_PAYLOAD=
USERNAME=
PASSWORD=
